<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="notesappsession5.sarahsga.neduet.mynotesapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/notes_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoteCreation" />
        <activity android:name=".NotesDisplay"></activity>
    </application>

</manifest>